@use "@material/theme"with ($primary: #5865F2,
  $secondary: #5865F2,
  $on-primary: #000,
  $on-secondary: #fff,
);

@use "@material/theme/mdc-theme";
@use "@material/theme/mixins";

@use "@material/typography/mdc-typography";

@use '@material/button/mdc-button';
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/fab/mdc-fab";
@use "@material/icon-button/mdc-icon-button";

@include textfield.core-styles;


body {
  margin: 0px;
  background-color: var(--mdc-theme-background);
  overflow-x: hidden;
}

#authContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;

  text-align: center;
  padding: 0px 20px;
  box-sizing: border-box;

  height: 100vh;
  width: 100vw;

  .expand {
    flex-grow: 1;
  }

  >h1 {
    margin-bottom: 0;
  }

  .goButtonContainer {
    margin-left: 10px;
    display: inline-block;
  }
}

#content {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100vw;
  height: calc(100vh - 60px);
}

#caption {
  width: 100vw;
  height: 60px;
  padding: 10px 20px;
  text-align: center;
  box-sizing: border-box;

  h4 {
    margin: 0;
  }
}

.fsButtonContainer {
  position: fixed;
  top: 10px;
  right: 10px;
}